# Ignore everything with leading underscores
utils/__*
*__pycache__*
acodet/_*
_*

# Ignore vscode settings
.vscode/*

# Ignore generated annotation files
generated*

# Ignore model files
acodet/src/tmp_*
.idea/*
.idea

#Ignore file used to help cloudrun know when to stop retrying
donefile.txt